<div class="container">
    <div class="card p-lg-5">
        <h4 class="heading-font">Tools Category</h4>
        <div class="d-flex justify-content-end  ">
            <a routerLink="new" class="btn btn-primary">New Category</a>
        </div>
        <table class="table tool-table lined datatables-category-list ">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Categories</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Total Products &nbsp;</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (item of categoryList; track $index) {
        
                <tr>
                    <td class="">
                        <div class="d-flex align-items-center gap-2">
                            <div class="avatar-category avatar p-2">
                                <img [src]="item.image"
                                    alt="Product-8" class="rounded-2">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <span class="text-heading text-wrap fs-7 fw-bold">{{item.name}}</span>
                                <span class="text-truncate mb-0 d-none d-sm-block fs-9"> {{item.description}}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="text-sm-center">4186</div>
                    </td>
                  
                    <td>
                        <div class="d-flex gap-2 justify-content-center">
                            <a [routerLink]="'edit/'+item.id" ripple class="d-flex ripple-primary align-items-center justify-content-center btn btn-outline-primary mb-0 p-0 avatar-sm avatar-sm btn-sm rounded-circle">
                                <i class="fa cursor-pointer fa-pencil fs-7"></i>
                            </a>
                            <button (click)="delete(item)" ripple class="d-flex ripple-danger align-items-center justify-content-center btn btn-outline-danger mb-0 p-0 avatar-sm avatar-sm btn-sm rounded-circle">
                                <i class="fa cursor-pointer fa-trash-alt fs-9"></i>
                            </button>
                        </div>
                    </td>
                </tr>
        
                }
            </tbody>
        </table>
    </div>
</div>