<div class="container">
    <div class="card p-lg-5">
        <h4 class="heading-font">Add Category</h4>

        <div class="">
            <form class="row" [formGroup]="newCategoyrForm" (submit)="addCategory()">
                <input type="hidden" formControlName="id">
                <div class="form-group">
                    <label for="" class=" fw-bold">Category Name</label>
                    <input type="text" formControlName="name" class="form-control form-control-lg rounded-0 "
                        [ngClass]="{'border-danger':newCategoyrForm.get('name')?.invalid && newCategoyrForm.get('name')?.touched  }">
                    
                </div>
               
                <div class="form-group">
                    <label for="" class=" fw-bold">Description</label>
                    <input type="text" formControlName="description" class="form-control form-control-lg rounded-0 "
                        [ngClass]="{'border-danger':newCategoyrForm.get('description')?.invalid && newCategoyrForm.get('description')?.touched  }">
                </div>
                <div class="form-group">
                    <label for="" class=" fw-bold">Image</label>
                   
                    <input type="file" id="category-image-upload" formControlName="image" (change)="onFileChange($event)"
                        class="form-control form-control-lg rounded-0  d-none" accept="image/png, image/jpg, image/jpeg"
                        [ngClass]="{'border-danger':newCategoyrForm.get('image')?.invalid && newCategoyrForm.get('image')?.touched  }">

                        <label for="category-image-upload" class="upload-media cate-img-up uploading" style="background: url({{previewUrls}});">
                            <div *ngIf="!previewUrls" ><i 
                                    class="fa fa-cloud-upload upload-icon "></i>
                                    <span class="loading" *ngIf="uploadingPrecessing"></span>
                                <h6 class="upload-note-title">Drop files here or click to
                                    upload.</h6>
                                    <span class="upload-note">Please ensure the file is in PNG, JPG, or JPEG format . Once selected, the image preview will be displayed here.</span>
                            </div>
                            <button class="" *ngIf="previewUrls" class="remove-img-btn">&times;</button>
                        </label>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" [disabled]="saveDisable">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>