.cate-img-up{
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
position: relative;
.remove-img-btn{

    background-color: #eb0e0e;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
}
}