<div class="container">
    <div class="card p-lg-5">
        <h4 class="heading-font">Users</h4>
        <table class="table tool-table lined datatables-user-list">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">User</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Role</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Address</th>
                </tr>
            </thead>
            <tbody>
                @for (item of userList?.data; track $index) {
                <tr>
                    <td class="p-3">
                        <div class="d-flex align-items-center gap-2">
                            <img class="avatar-sm rounded-circle"
                                src="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/avatars/2.png"
                                alt="Avatar">
                            <div class="d-flex flex-column">
                                <h5 class="fs-7 mb-0">{{item.firstName +" "+ item.lastName}}</h5>
        
                                <small class="fs-8">{{item.email}}</small>
                            </div>
                        </div>
                    </td>
                    <td class="text-center fs-7 align-middle"><span>{{item.role}}</span></td>
                    <td class="text-center fs-7 align-middle"><span>{{item.createdAt | date:"MMM dd, YYYY-hh:mm a"}}</span></td>
                    <td class="text-center fs-7 align-middle"><span>{{item.address}}</span></td>
                  
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>