.sidenav {
    background-color: white;
    box-shadow: 0 20px 27px  #723802;
}

@media (min-width:1024px) {
    .sidenav {
       border-radius: 1rem;
    }
}
.navbar-vertical {
  @media (min-width:1024px) {
    &.navbar-expand-minify {
        max-width: 70px;
        padding: 10px;
        .navbar-brand {
            padding: 1rem 0.2rem
        }
        .nav-item {
            margin-bottom: 10px;
        }

        .nav-link-text {
            display: none;
        }

        .nav-link {
            background-color: white;
            border: 2px solid var(--bs-primary);
            color: var(--bs-primary);
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .5rem;
            height: 42px;
            width:  45px;
            &
            .icon{
                margin: 0 !important;
                i{
                    font-size: 1.2rem;
                }
            }
        }
    }
  }

    &.navbar-expand-minify,
    &.navbar-expand-xs {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow-y: auto;
        overflow: hidden;
        box-shadow: none;
    }

    &.navbar-expand-xs {
        .navbar-brand {
            padding: 1.5rem 2rem
        }
        padding: 0;

        max-width: 15.625rem !important;

        .navbar-collapse {
            display: block;
            overflow: auto;
            // height: calc(100vh - 360px)
        }

        .nav-link {
            border-radius: 0.4rem;
            &.active {
                color: white;
                background: var(--gradian);

                .icon {
                    background: white;

                    i {
                        color: var(--bs-primary);
                    }
                }
            }

            .icon {

                border: 2px solid var(--bs-primary);

                i {
                    color: var(--bs-primary);
                    font-size: 1rem;
                }
            }
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
    }
}

.navbar-vertical .navbar-nav .nav-link.active {
    font-weight: 600;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
}

.navbar-vertical .navbar-nav>.nav-item {}

.navbar-vertical.navbar-expand-xs>[class*=container] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .navbar-vertical.navbar-expand-xs>[class*=container] {
        min-height: none;
        height: 100%
    }
}


.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding-top: .475rem;
    padding-bottom: .475rem;
    margin: 0 1rem
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-mini-icon,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-normal,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i {
    pointer-events: none
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-item {
    width: 100%
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item {
    margin-top: .125rem
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item .icon .ni {
    top: 0
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
    fill: #3a416f
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
    fill: #141727
}

.navbar-vertical.navbar-expand-xs .lavalamp-object {
    width: calc(100% - 1rem) !important;
    background: theme-color("primary");
    margin-right: .5rem;
    margin-left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .25rem
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav .nav-link {
    padding-top: .417rem;
    padding-bottom: .417rem;
    padding-left: 15px
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav .nav-link>span.sidenav-normal {
    transition: all .1s ease 0s
}
.navbar-vertical .nav-link .nav-link-text  {
    transition: unset  !important
}

@media (max-width:1024px) {
.itsMobile{
        z-index: 1000 !important;
    }
}
